.popup-container {
  height: 100vh;
  width: 200vw;
  overflow-x: hidden;
  display: flex;
}

.popup-slide {
  height: 100vh;
  width: 50%;
}

@keyframes fade-cycle {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
